# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Files Loading

We load all the files in the folder "data":

In [2]:
folder = 'data_jobs'
files = os.listdir(folder)

dfs = []

headers = ['Job','URL','Company','Location','Salary','Posted','ID','Job_Description']

for file in files:
    path = os.path.join(folder, file)
    
    df = pd.read_excel(path, names=headers)
    
    dfs.append(df)

Jobs = pd.concat(dfs)

# Data Cleaning

First of all, we need to delete all the duplicated values we could have. The best column to do so is the "ID" column:

In [3]:
Jobs = Jobs.drop_duplicates(subset='ID')

Let's see how it looks like the df:

In [4]:
Jobs.describe()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description
count,129329,129329,129270,129303,61830,115053,129329,129329
unique,56364,129329,37335,30981,18228,224,129329,127719
top,Financial Analyst,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,JPMorgan Chase & Co,Remote,Pay information not provided,PostedHoy,sj_cd2707991b8bc653,La página que solicitaste no fue encontrada._x...
freq,3591,1,594,7390,5583,39758,1,26

In [5]:
Jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129329 entries, 0 to 987
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Job              129329 non-null  object
 1   URL              129329 non-null  object
 2   Company          129270 non-null  object
 3   Location         129303 non-null  object
 4   Salary           61830 non-null   object
 5   Posted           115053 non-null  object
 6   ID               129329 non-null  object
 7   Job_Description  129329 non-null  object
dtypes: object(8)
memory usage: 8.9+ MB

We see we have almost all the columns with non-null values, except Salary and Posted. The column Posted is not critic, since it's a column that shows when the job posting was published in terms of the extraction date. It doesn't seem very useful, so we can't drop it.

With regards to the Salary column, we see we have aprox 30-35% of non-null values.
#### Could we estimate the Salary null values?
Let's see it later!

In [6]:
Jobs.drop(columns=['Posted'])

,Job,URL,Company,Location,Salary,ID,Job_Description
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...
...,...,...,...,...,...,...,...
969,Property Controller- Graduate East Lansing,https://www.indeed.com/rc/clk?jk=a88f74a87f1c6...,Schulte Companies,"East Lansing, MI 48823+1 ubicación",NaN,job_a88f74a87f1c6e48,Ir directamente al contenido principal_x000D_\...
972,Assistant Controller,https://www.indeed.com/rc/clk?jk=6fe37642cf957...,"Home State Insurance Group, Inc.","Waco, TX 76710+1 ubicación",NaN,job_6fe37642cf95726f,Ir directamente al contenido principal_x000D_\...
980,Plant Controller,https://www.indeed.com/rc/clk?jk=094beaf0996c9...,Dometic Corporation,"Cerritos, CA 90703",NaN,job_094beaf0996c95fe,Ir directamente al contenido principal_x000D_\...
981,Controller,https://www.indeed.com/rc/clk?jk=f3027b081096f...,"The Talance Group, LP","Houston, TX 77002 (Downtown area)",NaN,job_f3027b081096ff4c,Ir directamente al contenido principal_x000D_\...
987,Plant Controller,https://www.indeed.com/rc/clk?jk=f6fc5130f7639...,Johnson Controls,"Marinette, WI+5 ubicaciones",NaN,job_f6fc5130f7639a6e,Ir directamente al contenido principal_x000D_\...

We saw all the Dtypes are object. However, the Salary column would be interesting to be a numeric column.

## Salary

Let's see how it looks like:

In [7]:
Jobs['Salary'].head(50).values.tolist()

['$26.17 - $28.17 por hora',
 nan,
 nan,
 nan,
 '$89,100 - $108,900 por año',
 '$58,723 - $131,682 por año',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '$80,000 - $120,000 por año',
 nan,
 nan,
 '$63,108 - $95,512 por año',
 nan,
 nan,
 '$58,760 - $90,000 por año',
 nan,
 '$80,000 - $125,000 por año',
 nan,
 nan,
 nan,
 '$55,843 - $83,765 por año',
 nan,
 '$53,000 - $62,000 por año',
 '$90,806 - $114,444 por año',
 nan,
 nan,
 nan,
 '$49 - $53 por hora',
 nan,
 '$71,052 - $113,807 por año',
 '$75,157 - $127,767 por año',
 nan,
 nan,
 '$65,395 - $101,150 por año',
 nan,
 nan,
 '$41.18 - $52.00 por hora',
 '$115,000 - $120,000 por año',
 nan,
 nan,
 nan,
 nan,
 'Hasta $57 por hora',
 '$45 - $60 por hora',
 nan,
 'Hasta $40 por hora']

It looks horrible! We have single values, we have ranges, we have salary per year (año), month (mes), week (semana), day (día), and hourly (hora). Moreover we have the $ symbol in all the values, and in some cases we have the words Desde (From), and Hasta (Up to). Let's clean it!

First of all, the frecuency pay could be interesting in order to standardize the salaries. Let's split it into a new column:

In [8]:
Jobs['Frecuency_Salary'] = Jobs['Salary'].str.split(' por ').str.get(1)

In [9]:
Jobs['Frecuency_Salary'].unique()

array(['hora', nan, 'año', 'mes', 'día', 'semana'], dtype=object)

In [10]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año

Nice! Now let's delete the words "Desde " and "Hasta ":

In [11]:
Jobs['Salary'] = Jobs['Salary'].str.replace('Desde ','')
Jobs['Salary'] = Jobs['Salary'].str.replace('Hasta ','')

In [12]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año

Let's work on the range values. An interesting approach would be to have two new columns, for the low part of the range, and another for the high part of the range:

In [13]:
salary_split = Jobs['Salary'].str.split('-', expand=True)
Jobs['Low_Salary'] = salary_split[0].str.strip()
Jobs['High_Salary'] = salary_split[1].str.strip()

With these split, all the non-range values, will have value only in the Low_Salary column. In this cases, let's set the same values for all low and high salary columns:

In [14]:
Jobs['High_Salary'] = Jobs['High_Salary'].fillna(Jobs['Low_Salary'])

In [15]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary,Low_Salary,High_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora,$26.17,$28.17 por hora
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año,"$89,100","$108,900 por año"

We see how it looks better, but we need to clean the non numeric values for both columns. So let's replace all the non numeric strings:

In [16]:
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace('[\$,]', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace('[\$,]', '', regex=True)
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace(' por hora', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace(' por hora', '', regex=True)
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace(' por día', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace(' por día', '', regex=True)
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace(' por año', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace(' por año', '', regex=True)
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace(' por mes', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace(' por mes', '', regex=True)
Jobs['Low_Salary'] = Jobs['Low_Salary'].replace(' por semana', '', regex=True)
Jobs['High_Salary'] = Jobs['High_Salary'].replace(' por semana', '', regex=True)
Jobs['Low_Salary'] = pd.to_numeric(Jobs['Low_Salary'], errors='coerce')
Jobs['High_Salary'] = pd.to_numeric(Jobs['High_Salary'], errors='coerce')

In [17]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary,Low_Salary,High_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora,26.17,28.17
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año,89100.00,108900.00

Good! Now we need to standardize the Salaries, into a unique frecuency. The most common is to show the salary yearly. So let's transform all the non-yearly salaries into a yearly:

In [18]:
Jobs['Low_Salary'] = Jobs['Low_Salary'].astype(float)
Jobs['High_Salary'] = Jobs['High_Salary'].astype(float)

In [19]:
def transform_salary(row):
    if row['Frecuency_Salary'] == 'año':
        factor = 1
    elif row['Frecuency_Salary'] == 'mes':
        factor = 12
    elif row['Frecuency_Salary'] == 'semana':
        factor = 49
    elif row['Frecuency_Salary'] == 'día':
        factor = 230
    elif row['Frecuency_Salary'] == 'hora':
        factor = 1840
    else:
        factor = 1
    row['Low_Salary'] *= factor
    row['High_Salary'] *= factor
    return row

Jobs = Jobs.apply(transform_salary, axis=1)

In [20]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary,Low_Salary,High_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora,48152.8,51832.8
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año,89100.0,108900.0

Nice! The last step here, is to create a unique column with salaries. The purpose of this is to compare and analyze, since some of the salaries are ranges and some others are not. The best approach for this is to have a mean salary column:

In [21]:
Jobs['Mean_Salary'] = (Jobs['Low_Salary'] + Jobs['High_Salary']) / 2

In [22]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary,Low_Salary,High_Salary,Mean_Salary
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora,48152.8,51832.8,49992.8
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año,89100.0,108900.0,99000.0

PERFECT!

## Jobs Group

Since the Job names are quite heterogeneus, it's mandatory to group them in a few job groups. Let's do it with the dictionary categories.xlsx:

In [23]:
category_df = pd.read_excel('master_data\categories.xlsx')

category_df.head()

            keyword        category
0     data engineer   Data Engineer
1    data scientist  Data Scientist
2      data science  Data Scientist
3               ds   Data Scientist
4  machine learning  ML/AI Engineer

In [24]:
categories = category_df.set_index('keyword')['category'].to_dict()

def assign_category(job):
    job = job.lower()
    for keyword, category in categories.items():
        if keyword in job:
            return category
    return 'Others'

Jobs['Jobs_Group'] = Jobs['Job'].apply(assign_category)

In [25]:
category_counts = Jobs['Jobs_Group'].value_counts()

print(category_counts)

Financial Analyst            22024
Business Analyst             19884
Data Analyst                 14983
Data Engineer                12335
Controller                   12024
Data Scientist                8688
Business Intelligence         7387
CFO                           6739
Analyst                       6619
Finance                       6562
Operations Analyst            4339
ML/AI Engineer                3329
Others                        3321
Statistician/Mathemathics     1095
Name: Jobs_Group, dtype: int64

Nice!

## Location

The next step would be to clean the Location column. Would be nice to have a City and State column. The best way to split it, is to split it two columns by comma, getting all the string before, and the two letters after comma. The first column will be the city, and the second one the state. Let's work on it!

In [26]:
Jobs[['City', 'State']] = Jobs['Location'].str.extract(r'^(.+),\s([A-Z]{2})', expand=True)

In [27]:
Jobs.head()

,Job,URL,Company,Location,Salary,Posted,ID,Job_Description,Frecuency_Salary,Low_Salary,High_Salary,Mean_Salary,Jobs_Group,City,State
0,Market Development Representative 16702,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Corps Team Services, LLC",Arizona,$26.17 - $28.17 por hora,NaN,sj_cd2707991b8bc653,Iniciar sesión_x000D_\nInicio del contenido pr...,hora,48152.8,51832.8,49992.8,Data Analyst,NaN,NaN
1,"Vice President, Quality Services",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Family Support Services,"Tampa, FL+2 locations",NaN,NaN,sj_aa0f5247ff3deca7,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN,CFO,Tampa,FL
2,Business Analyst,https://www.indeed.com/rc/clk?jk=bd203b586ac89...,Leonardo247,Remote,NaN,NaN,job_bd203b586ac89e05,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN,Business Analyst,NaN,NaN
3,Corporate Strategy and Business Development Ma...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,United Therapeutics,"Research Triangle Park, NC",NaN,NaN,sj_8cb506d1ac43bc43,Iniciar sesión_x000D_\nInicio del contenido pr...,NaN,NaN,NaN,NaN,Business Analyst,Research Triangle Park,NC
4,"Data Analyst, Business Intelligence",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Land O' Frost,"Madisonville, KY 42431+2 locations","$89,100 - $108,900 por año",NaN,sj_bdfad91ca716ac0f,Iniciar sesión_x000D_\nInicio del contenido pr...,año,89100.0,108900.0,99000.0,Data Analyst,Madisonville,KY

In [28]:
Jobs['City'].values

array([nan, 'Tampa', nan, ..., 'Cerritos', 'Houston', 'Marinette'],
      dtype=object)

In [29]:
Jobs['State'].values

array([nan, 'FL', nan, ..., 'CA', 'TX', 'WI'], dtype=object)

Nice! Now a minor problem, is that there is some Locations, that are directy the state (e.g. California). In this cases, let's create a function, using the dictionary states.xlsx:

In [30]:
states_df = pd.read_excel('master_data\states.xlsx')

states_df.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [31]:
states_dict = states_df.set_index('State')['Code'].to_dict()

def assign_state(row):
    if pd.isnull(row['State']):
        location = str(row['Location'])
        for state, code in states_dict.items():
            if state.lower() in location.lower():
                return code
    return row['State']

Jobs['State'] = Jobs.apply(assign_state, axis=1)

Perfect!

## Remote

An interesting column would be if a job is remote or hybrid or none of these. In order to do so, we can use a dictionary with keywords:

In [32]:
remote_df = pd.read_excel('master_data/remote.xlsx')

remote_df.head()

            Value Category
0          Remote   Remote
1          remote   Remote
2          Hybrid   Hybrid
3          hybrid   Hybrid
4  Work From Home   Remote

In [33]:
remote_dict = remote_df.set_index('Value')['Category'].to_dict()

def assign_remote(row):
    for col in ['Job', 'Location', 'Job_Description']:
        col_value = str(row[col])
        for value, category in remote_dict.items():
            if value.lower() in col_value.lower():
                return category
    return None

Jobs['Remote'] = Jobs.apply(assign_remote, axis=1)

In [34]:
remote_counts = Jobs['Remote'].value_counts()

print(remote_counts)

Remote    36678
Hybrid    13555
Name: Remote, dtype: int64

Looks great!

## Profile

Another interesting column is the profile. In this column we will show if it's a Lead, Senior or a Junior position. As we did in the remote column, we will use a dictionary:

In [35]:
profile_df = pd.read_excel('master_data\profile.xlsx')

profile_df.head()

    Value Profile
0  junior  Junior
1  Junior  Junior
2      Jr  Junior
3     Jr.  Junior
4  senior  Senior

In [36]:
profile_dict = profile_df.set_index('Value')['Profile'].to_dict()

def assign_profile(row):
    for col in ['Job']:
        for value, profile in profile_dict.items():
            if value.lower() in row[col].lower():
                return profile
    return None

Jobs['Profile'] = Jobs.apply(assign_profile, axis=1)

In [37]:
profile_counts = Jobs['Profile'].value_counts()

print(profile_counts)

Senior    25392
Lead      20398
Junior     1567
Name: Profile, dtype: int64

Perfect!

## Skills

Now, let's deep into the job descriptions. Would be nice to have a Skills column. We can have it using a dictionary skills.xlsx:

In [38]:
skills_df = pd.read_excel('master_data\skills.xlsx')

skills_df.head()

                Skills            Group
0               Access           Access
1      Adobe Analytics  Adobe Analytics
2                  AWS              AWS
3  Amazon Web Services              AWS
4           Amazon Web              AWS

In [39]:
skills_dict = skills_df.set_index('Skills')['Group'].to_dict()

Jobs['Skills'] = Jobs['Job_Description'].apply(lambda x: list(set([skills_dict[skill] for skill in skills_dict.keys() if skill in x])))

In [40]:
skills_freq = Jobs['Skills'].explode().value_counts()

skills_percent = skills_freq / len(Jobs) * 100

top_skills = skills_percent.sort_values(ascending=False)

skills_df_freq = pd.DataFrame({'Percentage': top_skills, 'Count': skills_freq[top_skills.index]})

skills_df_freq.style.format({'Percentage': '{:.2f}%'})

Perfect!

# Generating the csv file

The last part is generate the final file. We are going to generate a csv format file. But first of all, we need to reorganize the columns:

In [41]:
Jobs_csv = Jobs[['ID','Job','Jobs_Group','Profile','Remote','Company','Location','City','State','Salary','Frecuency_Salary','Low_Salary','High_Salary','Mean_Salary','Skills']]

In [42]:
Jobs_csv

,ID,Job,Jobs_Group,Profile,Remote,Company,Location,City,State,Salary,Frecuency_Salary,Low_Salary,High_Salary,Mean_Salary,Skills
0,sj_cd2707991b8bc653,Market Development Representative 16702,Data Analyst,None,Remote,"Corps Team Services, LLC",Arizona,NaN,AZ,$26.17 - $28.17 por hora,hora,48152.8,51832.8,49992.8,[]
1,sj_aa0f5247ff3deca7,"Vice President, Quality Services",CFO,None,Hybrid,Family Support Services,"Tampa, FL+2 locations",Tampa,FL,NaN,NaN,NaN,NaN,NaN,"[PHP, .NET, Bachelor]"
2,job_bd203b586ac89e05,Business Analyst,Business Analyst,None,Remote,Leonardo247,Remote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
3,sj_8cb506d1ac43bc43,Corporate Strategy and Business Development Ma...,Business Analyst,Lead,Remote,United Therapeutics,"Research Triangle Park, NC",Research Triangle Park,NC,NaN,NaN,NaN,NaN,NaN,"[Office, PhD, Master]"
4,sj_bdfad91ca716ac0f,"Data Analyst, Business Intelligence",Data Analyst,None,None,Land O' Frost,"Madisonville, KY 42431+2 locations",Madisonville,KY,"$89,100 - $108,900 por año",año,89100.0,108900.0,99000.0,"[SQL, C#, SSRS, HTML, Bachelor, .NET, VBA]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,job_a88f74a87f1c6e48,Property Controller- Graduate East Lansing,Controller,None,None,Schulte Companies,"East Lansing, MI 48823+1 ubicación",East Lansing,MI,NaN,NaN,NaN,NaN,NaN,"[Office, Bachelor]"
972,job_6fe37642cf95726f,Assistant Controller,Controller,None,None,"Home State Insurance Group, Inc.","Waco, TX 76710+1 ubicación",Waco,TX,NaN,NaN,NaN,NaN,NaN,"[Word, Office, Bachelor, Excel]"
980,job_094beaf0996c95fe,Plant Controller,Controller,None,None,Dometic Corporation,"Cerritos, CA 90703",Cerritos,CA,NaN,NaN,NaN,NaN,NaN,"[PowerPoint, Master, Dynamics 365, Qlik, Acces..."
981,job_f3027b081096ff4c,Controller,Controller,None,Remote,"The Talance Group, LP","Houston, TX 77002 (Downtown area)",Houston,TX,NaN,NaN,NaN,NaN,NaN,[CPA]
987,job_f6fc5130f7639a6e,Plant Controller,Controller,None,None,Johnson Controls,"Marinette, WI+5 ubicaciones",Marinette,WI,NaN,NaN,NaN,NaN,NaN,"[PowerPoint, MBA, Word, Excel, SAP, Bachelor, ..."

In [43]:
Jobs_csv.to_csv('jobs.csv', index=False, encoding="utf-16")
Jobs_csv.to_excel('jobs.xlsx', index=False)

# THANK YOU!!